/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;

}
header{
    position: -webkit-sticky; /* Safari */
    position: sticky; /* stick the header on top while scrolling */
    background: rgba(236, 223, 90,1);
    top: 0; /* Let a little space on the top */
    display: flex; /* put all on the same line */
    flex-flow: row nowrap;
    justify-content: space-around; /* logo on left, text on center and menu on right */
    align-items: center; /* make the texte go down */
    z-index: 49;
}
section{

    background-color: #4bc032;


}
footer {
    background-color: green;
    float: bottom; /* put the content at the bottom */
    bottom: 0; /* put the content at the bottom with no space */
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1% 5% 1% 5%;
}
.nav-list
{
	list-style: none;
	display: flex;
}
.nav-list li:hover
{
	text-decoration: underline;
	cursor: pointer;
}
.nav-list li
{
	display: inline-block;
	padding: 10px;
	margin: 10px;
	text-transform: uppercase;
	font-weight: bold;
}
.content
{
	padding: 0% 10% 5% 10%; /*TODO change to not have to much space*/
    display: flex;
    flex-direction: column;


}
.cityLogo{
    margin-left: 6%;
    margin-right: 2%;
}
.menuDiv{
    height: 100%;
}
.divEmblem{
    display: inline;
    position: -webkit-sticky; /* Safari */
    position: sticky; /* stick the header on top while scrolling */
    top: 0;
    z-index: 50;


}
.section-Header{
    /* for_parralax_style */
    position: relative;
    min-height: 400px;
    background-attachment : fixed;
    background-image: url(../pictures/team.png); /* url de l'image */
    background-repeat: no-repeat; /* Ne pas répéter l'image sur X et Y*/
    background-size:100% 500px;

    border: 1px solid black;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cityEmblem{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    height: 100%;
    width: min-content;
}
.announce{
    color: white;
}

.item-footer{
    margin: 0 15%;
}


.calendar{
    background-color: red;
    float: right;
    position: relative;
    display: inline-block;

}


.actuality-content{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* added */
    justify-content: space-around;
    margin: auto auto 0;


}

.actu {


    margin: 25px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.3);


    max-height: 20%;
    overflow: hidden;
    flex-shrink: 0;

    min-width:26%;
    flex-grow:1;
    border:solid;
}

.actu .text {
    padding: 0 20px 20px;
    height: 100%;

}
.actu .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    position:relative;
    bottom:0;
}
.actu:nth-child(1) {
    width: 60%;
    height: 50%;
}

.actu img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.effect_highlight {
    text-decoration: none;
    background-position-y: 0;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(50%, orangered), color-stop(50%, #fc0));
    background-image: -o-linear-gradient( violet 50%,#fc0 50%);
    background-image: linear-gradient( red 50%, #fc0 50%); /* background color   */
    -webkit-transition: background 300ms ease;
    -o-transition: background 300ms ease;
    transition: background 300ms ease;
    padding: 4px 0 0;
    background-size: auto 175%;
    color: inherit;
    width: auto;
    overflow: auto;

}

.effect_highlight:hover {
    background-position-y: 100%;
}

.nameCity{
    font-size: 3em;
}


/**
.slider {
    width: 50%;
    margin: 0 auto 20px;
    text-align: center;
}

.slider .photos {
    border: solid 1px black;
    display: flex;
    justify-content: center;
}

.slider .photos {
    position: relative;
    height: 433px;
    text-align: center;

}

.slider .photos img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    transition: opacity 1s;

}

.slider .photos img.shown {
    opacity: 1;
}


.prev:before,
.next:before {
    color: #fff;
    font-size: 100px;
    position: absolute;
    top: 35%;
    cursor: pointer;
}

.prev:before {
    content: '<';
    left: 0;
    color: black;
}

.next:before {
    content: '>';
    right: 0;
    color: black;
}

**/

.pic {
    display: flex;
    justify-content: space-around;
    height: auto;
    min-height: 500px;
    text-align: center;
    align-items: center;

}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.slider button {
    border: none;
    background-color: transparent;
    font-size: 50px;
}

.slider button:hover {
    cursor: pointer;
}

.photos img:not(.shown) {
    display: none;
}

.slider img {
    max-width: 75%;
    width: auto;
    max-height: 400px;
}

/*======================= For responsive nav-bar ================*/
/* NAVBAR STYLING STARTS */

.nav-list a {
    color: #fff;
}
/* LOGO */
.logo {
    font-size: 32px;
}
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}
/* DROPDOWN MENU */
.menue {
    position: relative;
}
.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown li + li {
    margin-top: 10px;
}
.dropdown li {
    padding: 0.5em 0em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    background-color: #4c9e9e;
}
.menue:hover .dropdown {
    display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
}
/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

.navbar a {
    text-decoration: none;
}

.quickInfo {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    height: 200px;
    width: 200px;
    top: 0;
    min-height: 10%;
    min-width: 10%;
    background-color: dimgrey;
    border: black 1px solid;
}


.slideshow-container {
    position: relative;
    margin: auto
}

.textTrombi {
    display: none;
    color: #f2f2f2;
    font-size: 20px;
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #222428
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0px;
    display: inline-block;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active,
.dot:hover {
    background-color: #717171
}


/* APPLYING MEDIA QUERIES */
@media (max-width: 950px) {
    .menu {
        display:none;
        position: absolute;
        background-color:teal;
        right: 0;
        left: 0;
        top: 0;
        text-align: center;
        padding: 16px 0;
        z-index: 55;
    }
    .menu li:hover {
        display: inline-block;
        background-color:#4c9e9e;
        transition: 0.3s ease;
    }
    .menu li + li {
        margin-top: 0;
    }
    input[type=checkbox]:checked ~ .menu{
        display: block;
    }
    .hamburger {
        display: block;
    }
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
    .dropdown li:hover {
        background-color: #4c9e9e;
    }

    .pic {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        min-height: 100px;
        align-items: center;

    }
    .section-Header {
        min-height: 100px;
        background-size:100% 200px;
    }

}
